<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quizify.Properties.Settings.Quizify_DBConnectionString"
            connectionString="Data Source=.\ITSSB;Initial Catalog=Quizify_DB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Quizify.Properties.Settings.TestConnectionString"
            connectionString="Data Source=.\ITSSB;Initial Catalog=Test;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Quizify.Properties.Settings.test_qConnectionString"
            connectionString="Data Source=.\ITSSB;Initial Catalog=test_q;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>